!!!
%html
  %head
    %meta{charset: "UTF-8"}
    %meta{charset: "width=device-width", name: "viewport"}
    %meta{content: seo.description, name: "description"}
    %meta{content: seo.title, property: "og:title"}
    %meta{content: seo.description, property: "og:description"}
    %meta{content: "img/hero_logo.png", property: "og:image"}
    %meta{content: "website", property: "og:type"}
    %meta{content: "https://aporamusic.com", property: "og:url"}
    %meta{content: seo.title, property: "og:site_name"}
    %title Apora Music
    %link{href: "https://fonts.googleapis.com/css?family=Montserrat", rel: "stylesheet"}
    %link{charset: "utf-8", href: "css/application.css", media: "screen", rel: "stylesheet", title: "no title", type: "text/css"}
    %link{href: "img/favicon.ico", rel: "shortcut icon"}
  %body
    %header
      %h1.u-hide= seo.long_title
      .header-name
      %nav.nav.u-margin-top
        %a.nav-item.u-margin-right{href: "#releases", title: "releases"} RELEASES
        |
        %a.nav-item.u-margin-left{href: "#contact", title: "contact"} CONTACT
    .hero.u-margin-top
    %section#releases.u-margin-top
      %h2.section-title
        RELEASES

      - each release in releases
        .release.l-content
          .l-row
            .l-col-4-m.l-col-12-s.release__image-wrapper
              .release__image{style: "background-image: url(../img/" + release.img + ")"}
            .l-col-8-m.l-col-12-s
              .release__info
                .release__artist= release.artist
                .release__title= release.title
                .release__date.u-margin-top= release.date
                .release__album= release.album
                .release__social.u-margin-top
                - each social_link in release.social
                  %a.social-link{href: social_link.url, target: "_blank", title: release.title + " on " + social_link.type}
                    %img.js-load-svg.icon.icon--spotify{alt: social_link.type, src: "img/icon_" + social_link.type + ".svg"}

    %section#contact.u-margin-top
      %h2.section-title
        CONTACT
      .contact.u-margin-top
        .contact__email
          %span Contact:
          %a{href: "mailto:info@aporamusic.com", title: "email"} info[at]aporamusic.com
        .contact__social
          %a.social-link{href: "http://www.facebook.com/aporamusic", target: "_blank", title: "Apora on Facebook"}
            %img.js-load-svg.icon.icon--facebook{alt: "facebook", src: "img/icon_facebook.svg"}
          %a.social-link{href: "http://instagram.com/aporamusic", target: "_blank", title: "Apora on Instagram"}
            %img.js-load-svg.icon.icon--instagram{alt: "instagram", src: "img/icon_instagram.svg"}
          %a.social-link{href: "https://open.spotify.com/artist/7efnPoY5VKz95jbbUEXjVP?si=kDjzVAQJQpCzo41Zh0D7Og", target: "_blank", title: "Apora on Spotify"}
            %img.js-load-svg.icon.icon--spotify{alt: "spotify", src: "img/icon_spotify.svg"}
          %a.social-link{href: "https://soundcloud.com/apora", target: "_blank", title: "Apora on Soundcloud"}
            %img.js-load-svg.icon.icon--soundcloud{alt: "soundcloud", src: "img/icon_soundcloud.svg"}
          %a.social-link{href: "https://www.beatport.com/artist/apora/656548", target: "_blank", title: "Apora on Beatport"}
            %img.js-load-svg.icon.icon--beatport{alt: "beatport", src: "img/icon_beatport.svg"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
    %script{src: "js/application.js"}
