!!!
%html
  %head
    %meta{charset: "UTF-8"}
    %meta{content: "width=device-width", name: "viewport"}
    %meta{content: seo.description, name: "description"}
    %meta{content: seo.title, property: "og:title"}
    %meta{content: seo.description, property: "og:description"}
    %meta{content: "img/hero_logo.png", property: "og:image"}
    %meta{content: "website", property: "og:type"}
    %meta{content: "https://aporamusic.com", property: "og:url"}
    %meta{content: seo.title, property: "og:site_name"}
    %title Apora Music
    %link{href: "https://fonts.googleapis.com/css?family=Montserrat", rel: "stylesheet"}
    %link{charset: "utf-8", href: "css/application.css", media: "screen", rel: "stylesheet", title: "no title", type: "text/css"}
    %link{href: "img/favicon.ico", rel: "shortcut icon"}
  %body
    %header
      %h1.u-hide= seo.long_title
      .header-name
      %nav.nav.u-margin-top
        %a.nav-item.u-margin-right{href: "#releases", title: "releases"} RELEASES
        |
        %a.nav-item.u-margin-left{href: "#contact", title: "contact"} CONTACT
    .hero.u-margin-top
    %section#releases.u-margin-top
      %h2.section-title RELEASES

      - each release in releases
        .release.l-content
          .l-row
            .l-col-4-m.l-col-12-s.release__image-wrapper
              .release__image{style: "background-image: url(../img/" + release.img + ")"}
            .l-col-8-m.l-col-12-s
              .release__info
                .release__artist= release.artist
                .release__title= release.title
                .release__label.u-margin-top= release.label
                .release__album= release.album
                .release__social.u-margin-top
                - each social_link in release.social
                  %a.social-link{href: social_link.url, target: "_blank", title: release.title + " on " + social_link.type, class: "icon icon--" + social_link.type}
                    != icons[social_link.type]

    %section#contact.u-margin-top
      %h2.section-title CONTACT
      .contact.u-margin-top
        .contact__email
          %span Contact:
          %a{href: "mailto:info@aporamusic.com", title: "email"} info[at]aporamusic.com
        .contact__social
          - each social_link in social
            %a.social-link{href: social_link.url, target: "_blank", title: "Apora on " + social_link.type, class: "icon icon--" + social_link.type}
              != icons[social_link.type]

    %script
      :plain
        document.querySelectorAll('a[href^="#"]').forEach(function(anchor) {
          anchor.addEventListener('click', function (e) {
            e.preventDefault();

            document.querySelector(this.getAttribute('href')).scrollIntoView({
              behavior: 'smooth'
            });
          });
        });
